html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1{
  font-family:'Titillium Web', sans-serif;
  color:#FA7C92;
  font-size:100px;
  position:relative;
}
h3{
  font-family:'Titillium Web', sans-serif;
  color:#FFFFFF;
}
label{
  font-family:'Titillium Web', sans-serif;
}
img, video {
  max-width: 100%;
}
textarea {
  width: 100%;
}

.logo{
  position: fixed;
  top:20px;
  left:30px;
  height:50px;
}

.height-fill {
  min-height: 100%;
  height: 100%;
}

.pos-top {
  position: fixed;
  margin: 0;
  height: 65px;
  top: 5px;
  left: 0;
  right: 0;
}

.pos-middle {
  margin: 0;
  padding: 75px 0 150px 0;
}

.pos-bottom {
  position: fixed;
  margin: 0;
  height: 100px;
  bottom: 5px;
  left: 0;
  right: 0;
}

.bottom-right{
  position:fixed;
  bottom: 70px;
  right: 50px;
}

.right-center{
  position:fixed;
  right:50px;
  top:30%;
}

.shortcut {
  display: block;
}

.btn-custom {
  color: #FFFFFF;
  background-color: #FA7C92;
  border-color: #FFFFFF;
  width: 200px;
  font-family:'Titillium Web', sans-serif;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #FFFFFF;
  background-color: #DB6B7E;
  border-color: #DB6B7E;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #DB6B7E;
  border-color: #DB6B7E;
}

.btn-custom .badge {
  color: #FA7C92;
  background-color: #FFFFFF;
}


.btn-custom-outline {
  color: #FA7C92;
  background-color: #FFFFFF;
  border-color: #FA7C92;
  width:300px;
  font-family:'Titillium Web', sans-serif;
}

.btn-custom-outline:hover,
.btn-custom-outline:focus,
.btn-custom-outline:active,
.btn-custom-outline.active,
.open .dropdown-toggle.btn-custom-outline {
  color: #FFFFFF;
  background-color: #FA7C92;
  border-color: #FA7C92;
}

.btn-custom-outline:active,
.btn-custom-outline.active,
.open .dropdown-toggle.btn-custom-outline {
  background-image: none;
}

.btn-custom-outline.disabled,
.btn-custom-outline[disabled],
fieldset[disabled] .btn-custom-outline,
.btn-custom-outline.disabled:hover,
.btn-custom-outline[disabled]:hover,
fieldset[disabled] .btn-custom-outline:hover,
.btn-custom-outline.disabled:focus,
.btn-custom-outline[disabled]:focus,
fieldset[disabled] .btn-custom-outline:focus,
.btn-custom-outline.disabled:active,
.btn-custom-outline[disabled]:active,
fieldset[disabled] .btn-custom-outline:active,
.btn-custom-outline.disabled.active,
.btn-custom-outline[disabled].active,
fieldset[disabled] .btn-custom-outline.active {
  background-color: #FFFFFF;
  border-color: #F5CBFF;
}

.btn-custom-outline .badge {
  color: #FFFFFF;
  background-color: #F5CBFF;
}
/*
.alignment{
	position:absolute;
	width:300px;
	right:100px;
	bottom:200px;
}
.alignment2{
	position:absolute;
	width:300px;
	right:100px;
	bottom:140px;
}

.buttonAlign{
	position:absolute;
	width:10px;
	height:20px;
	right:100px;
	bottom:150px;

}

.buttonAlign2{
  position:sticky;
  width:10px;
  height:20px;
  right: 100px;
  bottom:50px;
} */

.form-control:valid {
  border-color:#FA7C92 !important;
  color:#FA7C92 !important;
  font-family:'Titillium Web', sans-serif;
}

.form-check-input{
  color:#FFFFFF !important;
  font-family:'Titillium Web', sans-serif;
}
